<!DOCTYPE html>
<html lang="en" data-framework="angularjs">
{% load staticfiles %}
  <head>
  
	<meta charset="utf-8">

 	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>?</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">

	<link rel="stylesheet" href="{% static "node_modules/todomvc-common/base.css" %}">
	<link rel="stylesheet" href="{% static "node_modules/todomvc-app-css/index.css" %}">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-app="todomvc">
		<ng-view />

<!--     <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/leialater/">Rancho Mirage Check List</a>
        </div>
      </div>
    </div> -->

<!--Change wideo width and height here-->
<!-- <div id="wideo-embed-block" 
	wideo-width="1000" 
	wideo-height="310"
	wideo-id="8431941424911995838"
	autoplay="false">
</div> -->
	<script type="text/javascript">(function(){var x=document.createElement('script'), s=document.getElementsByTagName('script')[0];x.async=true;x.src='http://static.wideo.co/js/embed/wideoembed.js';s.parentNode.insertBefore(x,s)})();</script>
		      

    <div class="jumbotron"> 
      <div class="container">
      	<div class="row text-center">
      		<div class="col-sm-12 col-md-12">
      		<!-- <img class="img-responsive center-block img-thumbnail"  src="{% static 'images/read.png' %}" alt="Our promotional img"/> -->
	        	<h2 style="text-transform:uppercase;text-decoration:italic;font-weight:bold;">
	        	??</h2>
	      	</div>      		
        </div>
      </div>
    </div>
    
    <script type="text/ng-template" id="todomvc-index.html">
			<section id="todoapp">
				<header id="header">
				
					<form id="todo-form" ng-submit="addTodo()">
						<input id="new-todo" placeholder="Enter Todo List" ng-model="newTodo" ng-disabled="saving" autofocus>
					</form>
				</header>
				<section id="main" ng-show="todos.length" ng-cloak>
					<input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
					<label for="toggle-all">Mark all as complete</label>
					<ul id="todo-list">
						<li ng-repeat="todo in todos | filter:statusFilter track by $index" ng-class="{completed: todo.completed, editing: todo == editedTodo}">
							<div class="view">
								<input class="toggle" type="checkbox" ng-model="todo.completed" ng-change="toggleCompleted(todo)">
								<label ng-dblclick="editTodo(todo)">{{todo.title}}</label>
								<button class="destroy" ng-click="removeTodo(todo)"></button>
							</div>
							<form ng-submit="saveEdits(todo, 'submit')">
								<input class="edit" ng-trim="false" ng-model="todo.title" todo-escape="revertEdits(todo)" ng-blur="saveEdits(todo, 'blur')" todo-focus="todo == editedTodo">
							</form>
						</li>
					</ul>
				</section>
				<footer id="footer" ng-show="todos.length" ng-cloak>
					<span id="todo-count"><strong>{{remainingCount}}</strong>
						<ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
					</span>
					<ul id="filters">
						<li>
							<a ng-class="{selected: status == ''} " href="#/">All</a>
						</li>
						<li>
							<a ng-class="{selected: status == 'active'}" href="#/active">Active</a>
						</li>
						<li>
							<a ng-class="{selected: status == 'completed'}" href="#/completed">Completed</a>
						</li>
					</ul>
					<button id="clear-completed" ng-click="clearCompletedTodos()" ng-show="completedCount">Clear completed</button>
				</footer>
			</section>

		</script>
    
<!-- <video class="hero_video" poster="/static/img/landing_video_poster.png?v=50d326ce8be7c42394e5dbbc6ab3416f" preload="" autoplay="" loop="">
<source src="https://staticinstapaper.s3.amazonaws.com/video/ip_landing_video_350kbps.mp4" type="video/mp4">
<source src="https://staticinstapaper.s3.amazonaws.com/video/ip_landing_video_350kbps.webmhd.webm" type="video/webm">
<img class="hero_image_fallback" src="/static/img/landing_video_fallback.png?v=31344dfe9a03236613496fcb89f096c7" alt="Instapaper works on iPhone, iPad, Android, Kindle, and Desktop" title="Instapaper works on iPhone, iPad, Android, Kindle, and Desktop">
</video> -->
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-12 main">
           <div>
                
        	</div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    
   	<script src="{% static "node_modules/todomvc-common/base.js" %}"></script>
	<script src="{% static "node_modules/angular/angular.js" %}"></script>
	<script src="{% static "node_modules/angular-route/angular-route.js" %}"></script>
	<script src="{% static "js/app.js" %}"></script>
	<script src="{% static "js/controllers/todoCtrl.js" %}"></script>
	<script src="{% static "js/services/todoStorage.js" %}"></script>
	<script src="{% static "js/directives/todoFocus.js" %}"></script>
	<script src="{% static "js/directives/todoEscape.js" %}"></script>
    
  </body>
</html>