{% extends 'base_leialater.html' %}
{% load staticfiles %}
{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12">
	        	<h1>Add New Bookmark Url</h2>
	      	</div>		
		</div>
		<div style="clear:both;"></div>
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<form id="login_form" method="post" action="/leialater/add_url/">
					<div class="errorlist">
							{{ form.errors }}
					</div>
					{% csrf_token %}		  
					<div class="form-group">
					    <label for="title">Title</label>
					    <input name="title" type="text" class="form-control" 
					    	id="title" placeholder="Enter Your Title">
				  	</div>
					<div class="form-group">
					    <label for="url">Url</label>
					    <input name="url" type="text" class="form-control" 
					    	id="url" placeholder="Enter Your URL">
				  	</div>
				  	<div class="form-group">
					    <label for="summary">Summary</label>
					    <textarea name="summary" class="form-control" 
					    	id="summary" placeholder="Enter Your Summary" rows="3"></textarea>
				  	</div>				  					  	
				  	<button type="submit" class="btn btn-primary">Submit</button>
					
				</form>
      		</div>		
		</div>
	</div>


	
{% endblock %}
