{% extends 'base_front_page.html' %}
{% load staticfiles %}
{% block title %} Home{% endblock %}

{% block body_block %}
<div class="container">
<!-- 	<div class="row text-center">
		<div class="col-sm-12 col-md-12">
        	<h2>Save, Save, Save It. Anywhere.</h2>
      	</div>		
	</div> -->
	<div class="row text-center">
		<div class="col-sm-12 col-md-6">
        	<div class="col-sm-12">
        	<h2>Test 5...Save, Save, Save It. Anywhere.</h2>
        		<p class="text-justify">
        			With LeiaLater, you can save your favorite links from anywhere device you want, anytime you want.
        			It is that simple! 
        		</p>
        	</div>
      	</div>	   	
      	<div class="col-sm-12 col-md-6">
        	<div class="col-sm-12">
        	<h2>Read, Read, Read It. Anywhere.</h2>
        		<p class="text-justify">
        			With LeiaLater, you can have your favorite links available for reading anytime you want, using any device
        			you want. Didn't we say it was that simple?
        		</p>
        	</div>
      	</div>
      	<div style="clear:both;"></div>	
		<hr />
		<div class="col-sm-12 col-md-12">
        	<h4>Create an account now and never lose track of those favorite links again!.</h4>
      	</div>		

	</div>
	<div style="clear:both;"></div>
	<div class="row">
		<div class="col-sm-12 col-md-6">
	</div>
</div>
{% endblock %} 
	
